# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/
.Python

# Environment variables quitar en producción
# .env


# Flask, SQLite database


# VSCode config
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Python egg metadata, logs, etc
*.egg-info/
*.log


# Static uploads quitar en producción
# static/uploads/
