{% extends "base.html" %}
{% block title %}Alta de trabajador{% endblock %}
{% block content %}
<h2 class="mb-4">Alta de trabajador</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.nombre.label(class="form-label") }}
        {{ form.nombre(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.rol.label(class="form-label") }}
        <div>
            {% for subfield in form.rol %}
                <div class="form-check form-check-inline">
                    {{ subfield(class="form-check-input") }}
                    {{ subfield.label(class="form-check-label") }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.password2.label(class="form-label") }}
        {{ form.password2(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Crear trabajador</button>
    <a href="{{ url_for('dashboard.dashboard') }}" class="btn btn-secondary ms-2">Cancelar</a>

</form>
{% endblock %}
