{% extends "base.html" %}
{% block title %}Editar Parte de Trabajo{% endblock %}
{% block content %}
<h2 class="mb-4">Editar parte de trabajo</h2>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.fecha.label }} {{ form.fecha(type="datetime-local", class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.fecha_fin.label }} {{ form.fecha_fin(type="datetime-local", class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.direccion.label(class="form-label") }}
        {{ form.direccion(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.tipo_trabajo.label(class="form-label") }}
        {{ form.tipo_trabajo(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.cliente.label(class="form-label") }}
        {{ form.cliente(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.materiales_usados.label(class="form-label") }}
        {{ form.materiales_usados(class="form-control", rows="2") }}
    </div>
    <div class="mb-3">
    <div class="mb-3">
        {{ form.importe_materiales.label(class="form-label") }}
        {{ form.importe_materiales(class="form-control", step="0.01") }}
    </div>
    <div class="mb-3">
        {{ form.horas.label(class="form-label") }}
        {{ form.horas(class="form-control") }}
    </div>

    {% if es_admin %}
    <div class="mb-3">
        {{ form.trabajador.label(class="form-label") }}
        {{ form.trabajador(class="form-select") }}
    </div>
    {% endif %}

    <div class="mb-3">
        {{ form.foto.label(class="form-label") }}
        {{ form.foto(class="form-control") }}
        {% if trabajo.foto %}
            <p>Foto actual: <a href="{{ url_for('static', filename='uploads/' ~ trabajo.foto) }}" target="_blank">Ver foto</a></p>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.firma.label(class="form-label") }}
        {{ form.firma(class="form-control") }}
        {% if trabajo.firma %}
            <p>Firma actual: <a href="{{ url_for('static', filename='uploads/' ~ trabajo.firma) }}" target="_blank">Ver firma</a></p>
        {% endif %}
    </div>
    <div>
        {{ form.observaciones.label }}<br>
        {{ form.observaciones(rows=4, cols=60) }}
    </div>
    <div class="mb-3">
        {{ form.terminado.label }} {{ form.terminado() }}
    </div>
    {% if es_admin %}
    <div class="form-group mt-3">
        {{ form.estado.label(class="form-label") }}
        {{ form.estado(class="form-select") }}
    </div>
    {% endif %}
    <br>
    <button type="submit" class="btn btn-primary">Guardar cambios</button>
    <a href="{{url_for('dashboard.dashboard') }}" class="btn btn-secondary ms-2">Cancelar</a>
</form>
{% for field, errors in form.errors.items() %}
    <div class="alert alert-danger">
        {{ form[field].label.text }}: {{ errors|join(', ') }}
    </div>
{% endfor %}
{% endblock %}
